# Example of the OMOP CDM Data

## Small Background

> Disclaimer: Section co-written with ChatGPT

The Observational Medical Outcomes Partnership Common Data Model (OMOP CDM) is a database schema and standard designed to facilitate the processing of healthcare data from electronic health records, health information exchanges, and electronic medical records.
Information about the schema is here: https://ohdsi.github.io/CommonDataModel/cdm54.html but the Entity-Relationship Diagram looks like this:

![](./assets/cdm54.png)

Some of the most important tables in the OMOP CDM are as follows:

1. `person`: Contains unique identifiers for individuals, including demographics 
2. `condition_occurrence`: Records diagnoses or health conditions, along with their start and end dates.
3. `procedure_occurrence`: Documents procedures performed on patients, including surgical and diagnostic interventions.
4. `drug_exposure`: Contains information on drug prescriptions, including drug names, dosages, and start/end dates.

Each table is linked through common identifiers (such as `person_id` and various `_occurrence_id` variables), enabling comprehensive analysis. 

## Dependency Set-Up

In [1]:
using DrWatson
@quickactivate "CompositionalMLStudy"

using DataFrames

import DBInterface:
    execute

import DrWatson:
  datadir

import SQLite:
    DB

## Setting Constants

In [2]:
# OMOP CDM Data Directory
OMOPCDM_DIR = datadir("exp_raw", "OMOPCDM")

# OMOP CDM Example Data 
DATABASE_FILE = "eunomia.sqlite"

"eunomia.sqlite"

## Basic Exploration of IPUMS Data

### Creating Connection to SQLite Database

In [3]:
conn = DB(joinpath(OMOPCDM_DIR, DATABASE_FILE))

SQLite.DB("/home/thecedarprince/Projects/CompositionalMLStudy/data/exp_raw/OMOPCDM/eunomia.sqlite")

### Examining Data

List out all tables from the OMOP CDM sample database:

In [4]:
sql =
    """
    SELECT name AS TABLE_NAME 
    FROM sqlite_master 
    WHERE type = 'table' 
    ORDER BY name;
    """

execute(conn, sql) |> DataFrame

37Ã—1 DataFrame
 Row â”‚ TABLE_NAME
     â”‚ String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ CARE_SITE
   2 â”‚ CDM_SOURCE
   3 â”‚ COHORT
   4 â”‚ COHORT_ATTRIBUTE
   5 â”‚ CONCEPT
   6 â”‚ CONCEPT_ANCESTOR
   7 â”‚ CONCEPT_CLASS
   8 â”‚ CONCEPT_RELATIONSHIP
   9 â”‚ CONCEPT_SYNONYM
  10 â”‚ CONDITION_ERA
  11 â”‚ CONDITION_OCCURRENCE
  â‹®  â”‚           â‹®
  28 â”‚ PAYER_PLAN_PERIOD
  29 â”‚ PERSON
  30 â”‚ PROCEDURE_OCCURRENCE
  31 â”‚ PROVIDER
  32 â”‚ RELATIONSHIP
  33 â”‚ SOURCE_TO_CONCEPT_MAP
  34 â”‚ SPECIMEN
  35 â”‚ VISIT_DETAIL
  36 â”‚ VISIT_OCCURRENCE
  37 â”‚ VOCABULARY
              16 rows omitted

Get unique patient IDs from OMOP CDM sample database:

In [5]:
sql =
    """
    SELECT person_id 
    FROM person;
    """

execute(conn, sql) |> DataFrame

2694Ã—1 DataFrame
  Row â”‚ person_id
      â”‚ Float64
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚       6.0
    2 â”‚     123.0
    3 â”‚     129.0
    4 â”‚      16.0
    5 â”‚      65.0
    6 â”‚      74.0
    7 â”‚      42.0
    8 â”‚     187.0
    9 â”‚      18.0
   10 â”‚     111.0
   11 â”‚     149.0
  â‹®   â”‚     â‹®
 2685 â”‚    5200.0
 2686 â”‚    5315.0
 2687 â”‚    5245.0
 2688 â”‚    4971.0
 2689 â”‚    5213.0
 2690 â”‚    5322.0
 2691 â”‚    5265.0
 2692 â”‚    4999.0
 2693 â”‚    5201.0
 2694 â”‚    5309.0
 2673 rows omitted